<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="/style/styleCss.css"/>
<meta charset="UTF-8">
<title>=D</title>
</head>
<body bgcolor= #1f1f1f>
		<header>
<!-- 	<nav>
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo">Lista de Eventos</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      <li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Home</a>
	        <li><a href="/cadastrarEvento" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Evento</a>
	        <a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Eventos</a>
	        <li><a href="/login" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Logout</a>
	         </ul>	
	    </div>
	  </nav> -->
	  </header>
<h1><b>Lista de Fundos Imobiliários</b></h1>

<table class ="container" width = "100%" border="2px" bordercolor="#000000">
	<thead>
		<th>Codigo</th>
		<th>Setor</th>
		<th>Preço Atual</th>
		<th>Liquidez</th>
		<th>Dividento</th>
		<th>DY</th>
		<th>DY(3m)</th>
		<th>DY(6m)</th>
		<th>DY(12m)</th>
		<th>DY(3m)+</th>
		<th>DY(6m)+</th>
		<th>DY(12m)+</th>
		<th>DY Ano</th>
		<th>Variação Preço</th>
		<th>Rentab</th>
		<th>Rentab+</th>
		<th>Patrimônio</th>
		<th>VPA</th>
		<th>P/VPA</th>
		<th>DY+</th>
		<th>Variação</th>
		<th>Rent. Patrimonio</th>
		<th>Rent. Patrimonio+</th>
		<th>Vacancia</th>
		<th>Vacancia+</th>
		<th>Quantidade</th>
		
		</thead>	
	 <tbody>
			<tr th:each="tabela_fii : ${ltabelafii}">	 
			<td><span th:text= "${tabela_fii.CODIGO}"></span></td>
			<td><span th:text= "${tabela_fii.SETOR}"></span></td>
			<td><span th:text= "${tabela_fii.PRECO_ATUAL}"></span></td>
		 	<td><span th:text= "${tabela_fii.LIQUIDEZ_DIARIA}"></span></td>
			<td><span th:text= "${tabela_fii.DIVIDENDO}"></span></td>
			<td><span th:text= "${tabela_fii.DY}"></span></td>
			<td><span th:text= "${tabela_fii.DY_3M}"></span></td>
			<td><span th:text= "${tabela_fii.DY_6M}"></span></td>
			<td><span th:text= "${tabela_fii.DY_12M}"></span></td>
			<td><span th:text= "${tabela_fii.DY_3M_PLUS}"></span></td>
			<td><span th:text= "${tabela_fii.DY_6M_PLUS}"></span></td>
			<td><span th:text= "${tabela_fii.DY_12M_PLUS}"></span></td>
			<td><span th:text= "${tabela_fii.DY_ANO}"></span></td>
			<td><span th:text= "${tabela_fii.VARIACAO_PRECO}"></span></td>
			<td><span th:text= "${tabela_fii.RENTAB}"></span></td>
			<td><span th:text= "${tabela_fii.RENTAB_PLUS}"></span></td>
			<td><span th:text= "${tabela_fii.PATRIMONIO}"></span></td>
			<td><span th:text= "${tabela_fii.VPA}"></span></td>
			<td><span th:text= "${tabela_fii.P_VPA}"></span></td>
			<td><span th:text= "${tabela_fii.DY_PLUS}"></span></td>
			<td><span th:text= "${tabela_fii.VARIACAO}"></span></td>
			<td><span th:text= "${tabela_fii.RENTAB_PATRIMONIO}"></span></td>
			<td><span th:text= "${tabela_fii.RENTAB_PATRIMONIO_PLUS}"></span></td>
			<td><span th:text= "${tabela_fii.VACANCIA}"></span></td>
			<td><span th:text= "${tabela_fii.VACANCIA_PLUS}"></span></td>
			<td><span th:text= "${tabela_fii.QUANTIDADE}"></span></td>
		
		
			
		<!-- 	<td><span><a th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.codigo)).build()}"><i class="material-icons left">delete</i></a></span></td>
			<td><span><a th:href="${(#mvc.url('EC#editarEvento').arg(0, evento.codigo)).build()}"><i class="material-icons left">edit</i></a></span></td> -->
		</tr>
	</tbody>
	</table>
 <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    </body>
</html>